/************************************
******* DATAGen Main Style **********
************************************/

@import url(../runo/styles.css);
@import url(../runo/styles.css);

.tData .top {
	background: url(images/headerbg.jpeg) repeat-x;
}

.tData .logo {
	padding: 5px 0px 0px 10px;
}

.tData .tabSheet{
	position:absolute;
	top:65px;
}

.tData .generate {
	padding: 10px 10px 10px 0px;
}

.tData .dataTable{
	overflow-x: hidden;
	overflow-y: auto;  
}

.tData .sqlPanel {
	position:absolute;
	right:20px;
	background-color: threedface;
}

/*Used only for IE*/
.tData .sqlPanelIE {
	position:fixed;
	right:40px;
	background-color: threedface;
}

/*Disable TextArea resizable*/
.noResizeTextArea {
	resize: none;
}

.tData .mandatory {
	background: lightpink;
}

.tData .showBorder {
	border: 1px solid lightgray;
}

.tData .connectedString{
	position:absolute;
	top: 40px;
	right:30px;
	text-align:right;
	color: highlight;
	font-weight: bolder;
	font-size: 16px;
}